.aside1 .inputcheck{
  position: relative;
  margin-bottom: 40px;
}
.aside1 .inputcheck span{
  display: block;
  font-size: 12px;
  margin-left: 0px;
  color: red;
}
*{padding: 0;margin: 0;font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
html body{
  width: 100%;
  height: 100%;
  color: #333;
}
li{list-style: none;};
a{text-decoration: none; color: #333;}
#app {
  width: 1200px;
  margin: 0 auto;
  background: white;
  overflow: auto;
  min-height: calc( 100vh - 81px);
}
.indexbottom{
  height: 60px;
  line-height: 60px;
  border-top: 1px solid #d3d3d3;
  text-align: center;
  width: 100%;
  font-size: 14px;
  position: relative;
  margin-top: 20px;
}
.head{
  border-bottom: 1px solid #e4e4e4;
  height: 60px;
  position: fixed;
  top: 0;
  width: 1200px;
  z-index: 3;
  left:calc(50% - 650px);
  background: #f5f5f5;
}
.head .logo{
  display: block;
  float: left;
  margin-top: 14px;
  cursor: pointer;
}

.head .logofont,.head .logobeat {
  display: block;
  float: left;
  cursor: pointer;
}
.head .logofont{
  font-size: 28px;
  color: #6fba2c;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}
.head .logobeat{
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 4px;
}
.head a{
  display: block;
  float: left;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 40px;
  
  /*color: #fda861;*/
}
.head .tj{
  width: 44px;
  height: 24px;
  border: 1px solid #fda861;
  text-align: center;
  line-height: 24px;
  border-radius: 4px;
  color: #ababab;
}
.head .know{
  color: #333;
}
.search{
  width: 182px;
  float: left;
  height: 30px;
  margin-top: 15px;
  margin-left: 20px;
  position: relative;
}
.search .span1{
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  right: 0px;
  top: 0;
  background: url(/static/img/s.png) no-repeat center center;
}
.search input{
  height: 30px;
  background: #f2f2f2;
}
.search .el-input__suffix{
  top: -4px;
}
.loginno{
  display: block;
  float: right;
  position: relative;
}
.loginno span{
  color: #6fba2c;
  font-size: 16px;
  margin-top: 20px;
  display: block;
  float: left;
  cursor: pointer;
}
.head .loginno  a{
  color: #6fba2c;
}
.head .loginno  .munu1 a{
  color: #a1a1a1;
}
#munuis{
  display: none;
}
.line{
  position: fixed;
  width: 100%;
  height: 60px;
  background: #f5f5f5;
  border-bottom: 1px solid #e4e4e4;
  top: 0px;
  left: 0;
  z-index: 1;
}
.loginno img{
  display: block;
  float: left;
}
.loginno a{
  margin-left: 26px;
}
.userimg{
  width: 40px;
  height: 40px;
  background: #ccc;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  right: 60px;
  cursor: pointer;
  top: 10px;
}
.userimg img{
  width: 40px;
  height: 40px;
}
.userstatus{
  width: 40px;
  height: 16px;
  border: 1px solid #ffc57f;
  color: #ffc57f;
  border-radius: 4px;
  position: absolute;
  font-size: 12px;
  text-align: center;
  right: 10px;
  top: 20px;
}
.aside1 h4{
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 18px;
  }
.aside1{
    width: 270px;
    background:rgba(251, 251, 251, 1);
    border:1px solid  rgba(242, 242, 242, 1);
    border-radius: 4px;
    padding:0 15px;
    padding-top: 26px;
    padding-right: 10px;
    overflow: hidden;
  }
.aside1 div{
    width: 290px;
    height: 30px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .aside1 div p{
    width: 210px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
  }
  .aside1 .form{
    height: 34px;
    width: 260px;
    margin-top: 4px;
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #d8dce5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #5a5e66;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 1;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  }
  .aside1 .btn{
    display: block;
    height: 36px;
    width: 260px;
    border-radius: 4px;
    background: #ff0000;
    color: #fff;
    line-height: 36px;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 0;
    font-size: 14px;
  }
  .aside1 .btn img{
    position: absolute;
    left: 60px;
    top: 4px;
  }
  .aside1 .btna a{
    width: 80px;
    height: 32px;
    border-radius: 6px;
    display: block;
    float: left;
    margin-top: 14px;
    color: #fff;
    line-height: 32px;
  }
  .aside1 div a img{
    display: block;
    float: left;
  }
  .aside1 div{
    clear: both;
  }
  .aside1 div p{
    width: 90px;
    float: left;
  }
  .aside1 .ahref{
    padding-top: 10px;
  }
  .aside1 .ahref a{
    display: block;
    float:left;
    color: #3399d6;
    font-size: 14px;
    text-decoration: none;
    line-height: 30px;
    margin-left: 10px;
  }
  .aside1 .ahref .forgot{
    margin-left: 70px;
  }
  .app{
    display: block;
    margin-bottom: 20px;
  }
  .more{
    position: relative;
  }
  
   .aside1 .diva{
    width: 120px;
    float: left;
    clear: none;
    margin-left: 10px;
  }
  .aside1 .diva a{
    text-decoration: none;
    color: #333;
  }
  #reset,#log{
    position: absolute;
    left: 50%;
    top: 180px;
    margin-left: -145px;
  }
  .background{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
  }
  .cha{
    display: block;
    position: absolute;
    right: 26px;
    cursor: pointer;
    top: 26px;
  }
  .btn1{
    width: 60px;
    height: 38px;
    text-align: center;
    padding-left:0;
    padding-right:0;
    background: #85ce61;
    color: white;
    border:none;
    border-radius: 4px;
  }
 .aside1 .verify{
    width: 196px;
  }
  .background .aside  .form{
    margin-top: 20px;

  }
  .background .aside .btn{
    margin-top: 20px;
  }
  .munu1{
    float: left;
    top: 54px;
    right: 50px;
    width: 130px;
    border-radius: 4px;
    box-shadow:2px 2px 7px #ccc;
    padding-left: 3px;
    padding-right: 3px;
     position: absolute;
     background: #fff;
     z-index: 1000;
  }
  .munu1 div{
    width: 120px;
    margin:0 auto;
    height: 28px;
    line-height: 28px;
    margin-top: 4px;
  }
  .munu1 div img{
    display: block;
    float: left;
  }
  .munu1 .one{
    border-bottom:1px solid #f2f2f2; 
  }
  .munu1 div a{
    font-size: 14px;
    text-decoration: none;
    color: #333;
    margin: 0;
    font-weight: normal;
  }
  #searchin{
    height: 30px;
    background: #f2f2f2;
    
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #d8dce5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #5a5e66;
    display: inline-block;
    font-size: inherit;
    line-height: 1;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
    font-size: 14px;
  }
  
  .article{
  width: 904px;
  margin:0 auto;

 }
 .top{
  margin-top: 20px;
  padding-bottom: 30px;
 }
 .top a{
  text-decoration: none;
  color: #3a9e00;
  font-size: 14px;
 }
 .hf{
  color: #a1a1a1;
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: 10px;
}
.downcontent{
  width: 860px;
  padding: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  position: relative;
}
.downcontent div{
  padding: 10px 5px;
}

.dimg{
  display: block;
}
.dcon{
  
  width: 800px;
  position: absolute;
  height: 30px;
  top: 10px;
  left: 58px;
  color: #333;
}
.dlarge{
  font-size: 14px;
  color: #a1a1a1;
  position: absolute;
  left: 58px;
  top: 40px;
}
.dnum{
  font-size: 14px;
  color: #a1a1a1;
  position: absolute;
  left: 108px;
  top: 40px;
}
.bottom p{
  font-size: 14px;
}
.author{
  width: 270px;
  margin:30px auto;
  height: 80px;
  position: relative;
}
.author img{
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.author span{
  position: absolute;
  display: block;
}
.author .aur{
  color: #ff9966;
  width: 60px;
  height: 24px;
  border:1px solid #ff9966;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  border-radius: 4px;
  top: 14px;
  left: 100px;
}
.author .aurname{
  font-size: 22px;
  top: 12px;
  left: 176px;
}
.author .aurnum{
  font-size: 14px;
  color: #a1a1a1;
  left: 100px;
  top: 58px;
}
.btn{
  margin-left: 110px;
  position: relative;
  margin-bottom: 40px;
}
.btn button{
  width: 120px;
  height: 40px;
  color: #fff;
  border-radius: 4px;
  border:none;
  background: #6fba2c;
  line-height: 40px;
  margin-left: 20px;
  font-size: 14px;
  cursor: pointer;
  display: block;
  float: left;
}
.btn button img{
  display: block;
  float: left;
  margin-top:10px;
  margin-left: 10px;

}
.tagzi ul li{
  display: block;
  float: left;
  margin-left: 10px;
  font-size: 14px;
  color: rgb(0,153,204);
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
.tagzi ul li img{
  margin-left: 4px;
}
.tagzi ul li:hover {
  color: rgb(255,102,0)
}
.articlecot div{
  width: 400px;
  padding: 10px 20px;
  padding-bottom: 0;
  display: block;
  float: left;
  border:1px solid #d7d7d7;
  border-radius: 6px;
  background: #fcfcfc;
}
.articlecot .left{
  margin-right: 10px;
  height: 157px;
}
.articlecot div p{
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  margin-bottom: 10px;
}
.context{
  width: 900px;
  position: relative;
}
.text{
  width: 900px;
  display: block;
    
    padding: 5px 15px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    color: #5a5e66;
    background-color: #fff;
    border: 1px solid #d8dce5;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.context .num{
  color: #a1a1a1;
  font-size: 14px;
  position: absolute;
  right: 10px;
  top: 110px;
}
.context .tbtn{
  width: 100px;
  height: 30px;
  display: block;
  background: #61a326;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  line-height: 30px;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
}
.context .topt{
  display: block;
  right: -60px;
  cursor: pointer;
  top: 40px;
  position: absolute;
  width: 44px;
  height: 38px;
  background: #61a326;
  padding-top: 6px;
  border-radius: 4px;
}
.context .topt img{
  display: block;
  margin-left: 7px;
}
.comment{
  margin-top: 30px;
}
.comt{
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  border-bottom: 1px dashed #f7f7f7;
}
.comt img{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  float: left;

}
.comt .comname{
  position: absolute;
  top:10px;
  left: 50px;
  color:#91baf8;
  font-size: 14px; 
}
.comt .comtime{
  color:#dedcda;
  font-size: 14px;
}
.comt .comcontent{
  width: 700px;
  padding-top:20px;
  margin-left: 50px;
  font-size: 14px;
  color: #333;
}
.combtn{
  display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: none;

    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
  margin:30px auto;
  color: #fff;
  background: #67c23a;
  margin-left: 400px;
}
.sumary h2{
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 20px;
}
.sumary p{
  margin-bottom: 40px;
  position: relative;
}
.sumary p span{
  font-size: 14px;
  color:#AEAEAE;
}
.bigimg{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  z-index: 200;
}
.bigimg div{
  position: relative;
  margin-top:0 auto;
}
.bigimg .imges{
  display: block;
  margin: 10px auto;
  max-width: 100vw;
  max-height: 100vh;
}
.bigimg span{
  display: block;
  width: 50px;
  height: 50px;
  padding: 2px;
  cursor: pointer;
  border-radius: 100%;
  background: #ccc;
  position: absolute;
}
.bigimg .imgno{
  top: -40px;
  left: 910px;
  width: 30px;
   height: 30px;
   padding-top: 10px;
   padding-left: 10px;
}
.wxfx{
  position: absolute;
  width: 200px;
  height: 193px;
  box-shadow: 0 2px 10px #aaa;
  background: #fff;
  top: -200px;
  left: 270px;
}
.wxfx h4{
  font-weight: normal;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    color: #777;
    text-align: center;
}
 .wxfx img{
  display: block;
  margin: 10px 50px;
  width: 100px;
  height: 100px;
}
.wxfx p{
  color: #333;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
.pagr{
  margin-top: 20px;
  margin-left: 30px;
  cursor: pointer;
}
.pagr a{
  text-decoration: none;
  color: #c3864d;
}
#logis,#resetis,#usernameis,#passwordis,#remailis,#rverifyis,#rpasswordis,#rtwopwdis,#likeis,#markis,#likeisf,#markisf,#userlevel{
    display: none;
  }